<h1>List of Patients</h1>
<%= link_to 'Add Patient', new_user_path %>
<hr />
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.first_name, user %>
      <%= link_to user.last_name, user %>
    </li>
<% end %>
</ul>
